/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
display: block;
}
body {
line-height: 1;
}
ol,
ul {
list-style: none;
}
blockquote,
q {
quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/* reset css */

.fxr {
display: flex;
flex-direction: row;
justify-content: space-around;
}

.fxrr {
display: flex;
flex-direction: row-reverse;
justify-content: space-around;
}

.fxc {
display: flex;
flex-direction: column;
justify-content: center;
gap: 0px;
}

.wy {
width: 100%;
}

#logo {
position: absolute;
top: 36px;
left: 5%;
}

#but {
position: absolute;
top: 36px;
right: 6.5%;
height: 40px;
width: 140px;
font-size: large;
background-color: white;
color: #FD8CD7;
border: 1px solid #FD8CD7;
border-radius: 20px;
box-shadow: 6px 2px 6px 4px #fd8cd74a;
font-weight: 500;
transition: all 200ms ease-in-out;
}

#but:hover {
    transform: translateX(-25px);
}

#hom {
width: 100%;
align-items: center;
text-align: center;
}

h1 {
margin: 20% 4% 3% 4%;
font-size: 55px;
}

#p1 {
margin: 0% 34%;
line-height: 34px;
font-size: 22px;
}

#but2 {
margin: 3%;
height: 73px;
width: 370px;
font-size: large;
background-color: #FD8CD7;
color: white;
border: 1px solid #FD8CD7;
border-radius: 36px;
font-weight: 500;
box-shadow: 6px 2px 6px 4px #fd8cd74a;
transition: all 300ms ease-in-out;
}

#but2:hover {
    transform: translateY(20px);
}

#im1 {
margin: 60px auto 120px auto;
}

#ik2 {
margin-left: 20px;
height: 50px;
width: 50px;
}

#ik3 {
height: 50px;
width: 50px;
}

#spa {
text-align: center;
font-size: 100px;
font-weight: bolder;
}

.grp {
text-align: center;
color: #BEBFC0;
font-size: xx-large;
margin-bottom: 100px;
}

.yari {
align-items: center;
width: 50%;
}

.yari2 {
width: 50%;
}

h2 {
margin: 10% 10% 5% 20%;
font-size: 45px;
}

h3 {
margin: 10% 20% 5% 5%;
font-size: 45px;
}

.alt {
margin: 2% 10% 2% 20%;
font-size: 22px;
}

.alt2 {
margin: 2% 20% 2% 5%;
font-size: 22px;
}

.im2 {
margin-left: 20%;
width: 65%;
height: 100%;
}

.im3 {
margin-left: 16%;
margin-right: 4%;
width: 65%;
height: 100%;
}

.alc {
align-items: center;
}

#but3 {
margin: 3% 3% 34% 3%;
height: 73px;
width: 370px;
font-size: large;
background-color: #FD8CD7;
color: white;
border: 1px solid #FD8CD7;
border-radius: 36px;
font-weight: 500;
box-shadow: 6px 2px 6px 4px #fd8cd74a;
transition: all 300ms ease-in-out;
}

#but3:hover {
    transform: translateY(20px);
}

#but4 {
height: 54px;
width: 220px;
font-size: large;
background-color: #FD8CD7;
color: white;
border: 1px solid #FD8CD7;
border-radius: 6px;
font-weight: 500;
transition: all 300ms ease-in-out;
}

#but4:hover {
    transform: translateY(20px);
}

h4 {
text-align: center;
margin: 2% 2% 2% 2%;
font-size: 55px;
}

input {
height: 50px;
width: 500px;
}

#logo2 {
margin-top: 8%;
margin-left: 15%;
margin-right: 50%;
height: 50px;
width: 250px;
}

#plor {
font-size: 25px;
color: white;
margin-top: 40px;
margin-bottom: 40px;
margin-left: 15%;
margin-right: 34%;
line-height: 150%;
}

.spa2 {
font-size: 25px;
color: white;
margin-left: 15%;
margin-right: 50%;
}

#smed {
margin-top: 80px;
margin-left: 15%;
margin-right: 50%;
margin-bottom: 16%;
}

.mar {
width: 40px;
height: 40px;
margin-right: 20px;
}

.mar2{
    width: 40px;
    height: 40px;
}

.betw {
margin-right: 6%;
display: flex;
justify-content: space-around;
}

.sa {
color: white;
margin-left: 4%;
margin-bottom: 6%;
}

#sa1 {
font-size: 37px;
font-weight: bold;
}

#sa2 {
font-size: 25px;
margin-right: 40%;
margin-bottom: 6%;
line-height: 150%;
}

#blck {
background-color: #00262F;
}

.blue {
background-color: #F6FBFF;
}

.bg2 {
height: 400px;
width: 100%;
background-image: url(assets/bg-section-bottom-desktop-2.svg);
background-size: contain;
background-repeat: repeat-x;
}

.bg1 {
margin-top: 200px;
height: 200px;
width: 100%;
background-image: url(assets/bg-section-top-desktop-2.svg);
background-size: cover;
background-repeat: repeat-x;
}

.bg3 {
height: 200px;
width: 100%;
background-image: url(assets/bg-footer-top-desktop.svg);
background-size: cover;
background-repeat: repeat-x;
}

.fix{
    position: fixed;
    top: 0;
    height: 100px;
    background-color: #00262F;
}

@media only screen and (max-width: 1000px) {

.fxr {
flex-direction: column-reverse;
}

.fxrr {
flex-direction: column-reverse;
}

#logo {
height: 34px;
width: 120px;
position: absolute;
top: 36px;
left: 5%;
}

#but {
height: 34px;
width: 100px;
}

#hom {
width: 100%;
align-items: center;
text-align: center;
}

h1 {
margin: 30% 5% 10% 5%;
font-size: 44px;
}

#p1 {
margin: 5%;
line-height: 34px;
font-size: 24px;
}

#im1 {
height: 40%;
width: 80%;
margin: 20% auto;
}

#but2 {
margin: 3%;
}

#ik2 {
margin: auto auto 20px auto;
height: 50px;
width: 50px;
}

#ik3 {
margin: auto auto 20px auto;
height: 50px;
width: 50px;
}

.grp {
text-align: center;
color: #BEBFC0;
font-size: xx-large;
margin-bottom: 100px;
}

.yari {
text-align: center;
align-items: center;
width: 100%;
}

.yari2 {
text-align: center;
width: 100%;
}

h2 {
margin: 50px auto 50px auto;
font-size: 34px;
}

h3 {
margin: 50px auto 50px auto;
font-size: 34px;
}

.alt {
margin: 50px auto 50px auto;
font-size: 22px;
}

.alt2 {
margin: 50px auto 50px auto;
font-size: 22px;
}

#but3 {
margin: 50px auto 350px auto;
height: 73px;
width: 370px;
font-size: large;
background-color: #FD8CD7;
color: white;
border: 1px solid #FD8CD7;
border-radius: 36px;
font-weight: 500;
box-shadow: 6px 2px 6px 4px #fd8cd74a;
}

#but4 {
height: 50px;
width: 100px;
margin: auto;
margin-left: 5%;
}

h4 {
font-size: 45px;
}

input {
height: 50px;
width: 300px;
margin: auto;
}

#logo2 {
margin: 16% auto 4% auto;
height: 40px;
width: 200px;
}

#plor {
font-size: 25px;
color: white;
margin: 6% auto;
line-height: 150%;
}

.spa2 {
font-size: 25px;
color: white;
margin: 2% auto;
}

#smed {
margin: 10% auto;
}

.betw {
margin: auto;
}

.sa {
color: white;
text-align: center;
margin: auto;
}

#sa1 {
text-align: center;
font-size: 37px;
font-weight: bold;
}

#sa2 {
font-size: 25px;
margin: 10% auto;
line-height: 150%;
}

}